# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno local
.env
.env.local
.env.*.local

# Logs
logs/
*.log
logs/*.log
pids/
*.pid
*.seed
*.pid.lock

# Cobertura de pruebas
coverage/
*.lcov

# Directorios temporales del sistema operativo
.DS_Store
Thumbs.db

# Cachés del editor de código
.idea/
.vscode/
*.swp

# Directorios de compilación
build/

# Archivos de configuración de servicio
.eslintcache
.parcel-cache
